<div *ngIf="movie" class="details">
  <h2>You selected is {{movie.name}}</h2>
  <table style="width: 100%">
    <tr>
      <td>Name</td>
      <td><input [(ngModel)]="movie.name"></td>
    </tr>
    <tr>
      <td>
        Year
      </td>
      <td><input [(ngModel)]="movie.releaseYear"></td>
    </tr>
  </table>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">goBack</button>
</div>
