<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <nav>
    <a routerLink="/dashboard">dashboard</a>
    <a routerLink="/movies">movies</a>
  </nav>
  <router-outlet></router-outlet>
  <!--<app-movies></app-movies>-->
  <!--<app-messages></app-messages>-->
</div>



