
<!--<div style="margin: 10px; text-align: left;">-->
  <!--<label>Release year(data-binding two-way):-->
    <!--<input [(ngModel)]="movie.releaseYear" placeholder="Enter release year"> &lt;!&ndash;2 way binding&ndash;&gt;-->
  <!--</label>-->
<!--</div>-->
<table style="width: 300px">
  <tr>
    <td>New Movie is name</td>
    <td><input #movieName placeholder="Name movie"/></td>
  </tr>
  <tr>
    <td>Year relase</td>
    <td><input #realseYear placeholder="year relase movie"/></td>
  </tr>
  <button (click)="addMovie(movieName.value,realseYear.value);movieName.value='';realseYear.value='';">ADD</button>
</table>
<div class="parent">
  <h2>My favorite movies</h2>
  <ol class="movies">
    <li class="movieListItem" *ngFor="let eachMovie of movies">
      <a routerLink="/detail/{{eachMovie.id}}" style="text-decoration: none;">
        {{eachMovie.name}} - {{eachMovie.releaseYear}}
      </a>
      <button title="delete movie"
              (click)="deleteMovie(eachMovie.id)">x</button>
    </li>
  </ol>
  <!--<app-movie-detail [movie]="selectedMovie"></app-movie-detail>-->
</div>
