<div class="movies">
  <h4>Movie search</h4>
  <input #searchBox (keyup)="search(searchBox.value)" />
  <ul class="movies">
    <li *ngFor="let movie of movies$ | async" class="movieListItem">
      <a routerLink="/detail/{{movie.id}}}">{{movie.name}}</a>
    </li>
  </ul>
</div>