.movies {
    background: white;
    padding: 0.5em 1em 0.5em 1.5em;
    margin: 1em;
    max-width: 16em;
}
.movies .movieListItem {
    font-size: 0.875em;
    font-family: Georgia, Serif;
    background: #eeeeee;
    padding: 0.3em;
    margin: 0.2em;
    text-align: center;
}
