<div *ngIf="messageService.messages.length">
  <h4>Messages</h4>
  <button (click)="messageService.deleteAllMessages()" class="clear">Clear All</button>
  <div *ngFor="let message of messageService.messages">
    {{message}}
  </div>
</div>
