.col-1-4 {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 25%;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.movie-box {
  padding: 20px;
  text-align: center;
  color: aqua;
  max-height: 120px;
  max-width: 120px;
  border-radius: 20px;
  background: #336699;
}
.movie-box:hover {
  background: burlywood;
  cursor: pointer;
  color: #eee;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
