<h3>Top 4 movie the best views</h3>
<div>
  <a *ngFor="let movie of movies" class="col-1-4"
  routerLink="/detail/{{movie.id}}"
  >
    <div class="movie-box">
      {{movie.name}}
    </div>
  </a>
</div>
<app-movie-search></app-movie-search>